{% extends 'blog/base.html' %}

{% block content %}
    <h2>Despre mine</h2>
    <p>Nascut in 1962, Craiova</p>
<p>tatal – profesor de literatura, mama – asistenta medicala.</p>
<p>Master Relatii Publice – SNSPA Bucuresti, 2004
Facultatea de Mecanica, Universitatea din Craiova, 1990</p>
<p>Fan Apple Macintosh, Beatles, Led Zepp, Purple, Yes, Sting</p>
<p>Ce am facut in ultimii douazeci de ani:
antreprenoriat, jurnalism, politica, relatii publice, somer in cateva randuri.</p>

<!-- Buton FB like-->
<p><div class="fb-like" data-href="http://pydigit.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></p>

{% endblock%}